RedirectPermanent /medecins           https://recosante.beta.gouv.fr/decouvrir/
RedirectPermanent /professionnelsanté https://recosante.beta.gouv.fr/decouvrir/
RedirectPermanent /professionnelsante https://recosante.beta.gouv.fr/decouvrir/
RedirectPermanent /découvrir          https://recosante.beta.gouv.fr/decouvrir/