@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-Bold.woff2') format('woff2'),
    url('./Marianne-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-ExtraBold.woff2') format('woff2'),
    url('./Marianne-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-Regular.woff2') format('woff2'),
    url('./Marianne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
