RedirectPermanent /medecins https://recosante.beta.gouv.fr/presentation/
RedirectPermanent /professionnelsanté https://recosante.beta.gouv.fr/presentation/

RedirectPermanent /présentation https://recosante.beta.gouv.fr/presentation/